.relatedproducts{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}
.relatedproducts h1{
  font-size: 42px;
  font-weight: 600;
  color: #030605;
}
.relatedproducts hr{
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.relatedproducts-items{
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

@media(max-width: 1280px){
  .relatedproducts{
    height: auto;
  }
  .relatedproducts h1{
    font-size: 40px;
  }
  .relatedproducts hr{
    height: 4px;
    width: 160px;
  }
  .relatedproducts-items{
    gap: 20px;
    margin-top: 30px;
  }
}
@media(max-width: 1024px){
  .relatedproducts{
    height: auto;
  }
  .relatedproducts h1{
    font-size: 30px;
  }
  .relatedproducts hr{
    height: 3px;
    width: 160px;
  }
  .relatedproducts-items{
    gap: 15px;
    margin-top: 20px;
  }
}
@media(max-width: 800px){
  .relatedproducts{
    height: auto;
    gap: 6px;
  }
  .relatedproducts h1{
    font-size: 20px;
  }
  .relatedproducts hr{
    width: 100px;
  }
  .relatedproducts-items{
      display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
@media(max-width: 500px){
  .relatedproducts{
    margin: 20px 20px;
    height: auto;
  }
  .relatedproducts-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}