.discriptionbox{
  margin: 70px 170px
}
.discriptionbox-navigator{
  display: flex;
  align-items: center;
}
.discriptionbox-nav-box{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  width: 170px;
  height: 70px;
  border: 1px solid #D0D0D0;
}
.discriptionbox-nav-box.fade{
  background: #ededed;
  color: #555;
}
.discriptionbox-description{
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #D0D0D0;
  padding: 40px;
  padding-bottom: 70px;
}

@media(max-width: 1280px){
  .discriptionbox{
    margin: 50px 100px
  }
  .discriptionbox-nav-box{
    width: 140px;
    height: 60px;
    font-size: 14px;
  }
  .discriptionbox-description{
    padding: 30px;
    padding-bottom: 50px;
    gap: 20px;
  }
}
@media(max-width: 768px){
  .discriptionbox{
    margin: 30px 70px
  }
  .discriptionbox-nav-box{
    width: 100px;
    height: 50px;
    font-size: 12px;
  }
  .discriptionbox-description{
    padding: 20px;
    padding-bottom: 40px;
    gap: 15px;
  }
}
@media(max-width: 480px){
  .discriptionbox{
    margin: 20px 20px
  }
  .discriptionbox-nav-box{
    width: 80px;
    height: 40px;
    font-size: 10px;
  }
  .discriptionbox-description{
    padding: 15px;
    font-size: 12px;
    padding-bottom: 30px;
    gap: 10px;
  }
}