.breadcrum{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 600;
  margin: 60px 170px;
  text-transform: capitalize;
}
@media (max-width: 1280px) {
  .breadcrum {
    margin: 40px 60px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .breadcrum {
    margin: 40px 20px;
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .breadcrum {
    margin: 20px 5px;
    font-size: 9px;
  }
}
