.footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 50px;
  padding: 20px 0;
  margin: auto;
  background: linear-gradient(180deg, #a7a7a7, #e7e9fb 90%);
}
.footer-logo{
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-logo p{
  color: #383838;
  font-size: 46px;
  font-weight: 700;
}
.footer-links{
  display: flex;
  margin: auto;
  list-style: none;
  gap: 40px;
  color: #252525;
  font-size: 20px;
}
.footer-links li{
  text-align: center;
  cursor: pointer;
}
.footer-social-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-icon-container{
  margin: auto;
  padding: 10px;
  padding-bottom: 6px;
}
.footer-copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
  color: #1a1a1a;
  font-size: 20px;
}
.footer-copyright hr{
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 3px;
  background: #c7c7c7;
}

@media(max-width: 1280px){
  .footer{
    gap: 30px;
    padding: 40px 0;
  }
  .footer-logo p{
    font-size: 36px;
  }
  .footer-links{
    gap: 30px;
    font-size: 18px;
  }
  .footer-copyright{
    gap: 20px;
    font-size: 16px;
  }
  .footer-copyright hr{
    width: 90%;
    height: 2px;
  }
}
@media(max-width: 768px){
  .footer-logo p{
    font-size: 28px;
  }
  .footer-links{
    gap: 20px;
    font-size: 16px;
  }
  .footer-copyright{
    gap: 15px;
    font-size: 14px;
  }
  .footer-copyright hr{
    width: 95%;
    height: 1.5px;
  }
}
@media(max-width: 500px){
  .footer{
    padding: 20px 0px;
    gap: 20px;
  }
  .footer-links{
    margin-left: -10px;
  }
  .footer-logo p{
    font-size: 24px;
  }
  .footer-logo img{
    width: 50px;
  }
  .footer-links{
    gap: 15px;
    font-size: 14px;
  }
  .footer-copyright{
    gap: 10px;
    font-size: 12px;
  }
  .footer-copyright hr{
    width: 90%;
    height: 1px;
  }
}