.newsletter{
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 40px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  gap: 30px;
}

.newsletter h1{
  color: #454545;
  font-size: 55px;
  font-weight: 600;
}

.newsletter p{
  color: #454545;
  font-size: 20px;
}

.newsletter div{
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 730px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
}
.newsletter input{
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #616161;
  font-family: Poppins;
  font-size: 16px;
}
.newsletter div button{
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  
}
@media(max-width: 1280px){
  .newsletter{
    width: 60%;
    height: 40vh;
    padding: 30px 100px;
  }
  .newsletter h1{
    font-size: 45px;
  }
  .newsletter div{
    width: 500px;
    height: 40px;
  }
  .newsletter input{
    width: 400px;
    font-size: 15px;
  }
  .newsletter div button{
    width: 100px;
    height: 40px;
    font-size: 15px;
  }
}
@media(max-width: 1024px){
  .newsletter{
    padding: 20px 50px;
    margin-bottom: 70px;
    gap: 20px;
    height: 25vh;
  }
  .newsletter h1{
    font-size: 30px;
  }
  .newsletter div{
    width: 400px;
    height: 40px;
  }
  .newsletter p{
  font-size: 16px;
}

  .newsletter input{
    width: 300px;
    font-size: 15px;
  }
  .newsletter div button{
    width: 100px;
    height: 40px;
    font-size: 15px;
  }
}
@media(max-width: 800px){
  .newsletter{
    width: 80%;
    height: 25vh;
    padding: 20px 30px;
    gap: 15px;
  }
  .newsletter h1{
    font-size: 25px;
  }
  .newsletter div{
    width: 300px;
    height: 35px;
  }
  .newsletter p{
    font-size: 14px;
  }
  .newsletter input{
    width: 200px;
    font-size: 14px;
  }
  .newsletter div button{
    width: 80px;
    height: 35px;
    font-size: 14px;
  }
}

@media(max-width: 500px){
  .newsletter{
    width: 85%;
    height: 20vh;
    padding: 15px 20px;
    gap: 10px;
    margin-bottom: 40px;
  }
  .newsletter h1{
    font-size: 18px;
  }
  .newsletter div{
    width: 250px;
    height: 30px;
  }
  .newsletter p{
    font-size: 12px;
  }
  .newsletter input{
    width: 150px;
    font-size: 12px;
  }
  .newsletter div button{
    width: 70px;
    height: 30px;
    font-size: 12px;
  }
}